<html>
	<h2>Olá, <%= @member.profile.email %></h2>

	<p>Você foi adicionado ao sistema de membros e ex-membros da 4soft, empresa junior de engenharia de software da UFRN.</p>
	<p>Use este mesmo email para acessar a área restrita aos membros. Sua senha é <%= @member.profile.password %>, você pode alterá-la a qualquer momento, no site.</p>
</html>