

<header> <!-- MENU -->

	<div class="container">
		<div class="row">
			
				<div class="span3">
					<h3>4Soft</h3>
				</div>
				<div class="span9">
					<ul>
						<li><a href="#">QUEM SOMOS?</a></li>	
						<li><a href="#">MEJ</a></li>
						<li><a href="#">A EQUIPE</a></li>
						<li><a href="#">TRABALHOS</a></li>
						<li><a href="#">CONTATO</a></li>
						<li><%=link_to "ENTRAR", new_session_path(:user) %> </li>
					</ul>
				</div>

		</div>

	</div>
	
</header>	<!-- /MENU -->

<div class="container">	<!-- HEADER -->
	<div class="row">
					
			<div class="span12">
				<div class="header1"></div>
			</div>

	</div>
</div>	<!-- /HEADER -->			

<div class="header2">
	<div class="container">

			<h3>Juniores desenvolvendo a web como gigantes.</h3>
			<br />
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in elit quis neque mollis vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec porttitor dui bibendum leo placerat non tristique sem pulvinar. Curabitur euismod mollis luctus. Fusce facilisis massa tortor, id dignissim nibh. Nulla ut varius libero. Suspendisse non tellus tincidunt mauris pulvinar laoreet eget et sapien.</p>

	</div>
</div>


<div class="container">
	<div class="row">

		<div class="quemsomos">	<!-- QUEM SOMOS -->
		
			<div class="span6">	
				<h4>Quem Somos?</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu nunc, consequat eu laoreet sit amet, feugiat et massa. Etiam at neque orci. Phasellus tristique nisl at risus interdum venenatis quis sit amet lacus. Integer sit amet pharetra ante. Fusce nulla tortor, bibendum quis fermentum non, pulvinar vitae est. Proin vel urna ligula. Donec convallis dapibus mauris, at scelerisque enim consequat a. Vestibulum dignissim luctus neque a ullamcorper. Suspendisse et tellus dui, id volutpat augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			</div>

			<div class="span6">
				<h4>O MEJ</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu nunc, consequat eu laoreet sit amet, feugiat et massa. Etiam at neque orci. Phasellus tristique nisl at risus interdum venenatis quis sit amet lacus. Integer sit amet pharetra ante. Fusce nulla tortor, bibendum quis fermentum non, pulvinar vitae est. Proin vel urna ligula. Donec convallis dapibus mauris, at scelerisque enim consequat a. Vestibulum dignissim luctus neque a ullamcorper. Suspendisse et tellus dui, id volutpat augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			</div>

		</div> <!-- /QUEM SOMOS -->


	</div>
</div>

<br/>
<div class="container">
	<div class="row">
		
		<div class="span4">
			<h4>A Equipe</h4>

			<p>Aenean non ipsum nisi, sed condimentum arcu. Aenean aliquet congue nibh, eu placerat arcu pellentesque non. Aliquam lacinia leo ac libero tincidunt bibendum. Maecenas auctor sodales fermentum. Sed mollis bibendum mauris eget varius. Suspendisse viverra pulvinar elit in tincidunt. Mauris et nulla eget tortor pellentesque iaculis eu vitae augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet tristique lorem. Cras posuere sapien nec tellus fermentum sed pulvinar libero dictum. Sed tristique rutrum sapien.</p>
		</div>

		
		<!-- EDITAR PRA ADICIONAR AS IMGS AUTOMATICAMENTE AQUI!! -->

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<div class="span2"><div class="membro"></div></div>

		<!-- /EDITAR PRA ADICIONAR AS IMGS AUTOMATICAMENTE AQUI!! -->

	</div>
</div>

<div class="container">
	<div class="row">

		<div class="span12">
			<h4>Nossos Trabalhos</h4>
		</div>

		
		<!-- EDITAR PRA ADICIONAR AS IMGS AUTOMATICAMENTE AQUI!! -->

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<div class="span3"><div class="trabalhos"></div></div>

		<!-- /EDITAR PRA ADICIONAR AS IMGS AUTOMATICAMENTE AQUI!! -->


	</div>
</div>
