<% @projects.each do |project| %>
  <h2><%= image_tag project.cover.file.url(:thumb) %> <%= project.name %></h2>

  <p><%= project.description %></p>

  <% project.images.each do |image| %>
    <%= image_tag image.file.url(:thumb) %>
  <% end %>

  <hr />
<% end %>